Repository moonbamijam/cob-chatbot, pull requests merged in 2024-04, with the labels that each got.

#22 chore: v1.5.0
  package-lock.json
  package.json
  src/App.jsx
  src/components/bot/ChatBox.jsx
  src/components/bot/ChatHead.jsx
  src/components/bot/buttons/CloseChatBtn.jsx
  src/components/bot/buttons/SettingsBtn.jsx
  src/components/bot/ui/Chat.jsx
  src/components/bot/ui/Error.jsx
  src/libs/bot-details.js
  src/libs/depts.js
  src/providers/InternetProvider.jsx
  src/styles/globals.css
  src/utils/firebase-config.js
  tailwind.config.js
Labels: enhancement, fixed

#24 chore: v1.6.0
  package-lock.json
  package.json
  src/App.jsx
  src/components/bot/ChatBox.jsx
  src/components/bot/buttons/ArrowBtn.jsx
  src/components/bot/buttons/DepartmentBtn.jsx
  src/components/bot/buttons/SettingsBtn.jsx
  src/components/bot/buttons/SuggestedQuestionBtn.jsx
  src/components/bot/sections/MiniProfile.jsx
  src/components/bot/sections/SuggestedQuestionsCarousel.jsx
  src/components/bot/ui/Chat.jsx
  src/components/bot/ui/Loading.jsx
  src/components/bot/ui/SampleBotChat.jsx
  src/components/bot/ui/Typing.jsx
  src/lib/bot-details.js
  src/lib/depts.js
  src/libs/depts.js
  src/styles/globals.css
  src/utils/split-link.js
  src/utils/split-message.js
  tailwind.config.js
Labels: enhancement, fixed

#26 feat: add bot greeting if convo history is empty
  src/components/bot/ChatBox.jsx
Labels: enhancement

#28 chore: v1.8.0
  .github/pull_request_template.md
  src/components/bot/ChatBox.jsx
  src/components/bot/header/Header.jsx
  src/components/bot/input/MessageInput.jsx
  src/components/bot/sections/Messages.jsx
  src/components/bot/sections/Settings.jsx
  src/components/bot/sections/SuggestedQuestions.jsx
  src/components/bot/ui/SampleBotChat.jsx
  src/components/bot/ui/SampleUserChat.jsx
  src/lib/bot-details.js
  src/lib/greet.js
Labels: enhancement, fix
